@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

header {
  background: rgba(229, 84, 115, 0.1);
  max-width: 1920px;
  max-height: 850px;
  flex-shrink: 0;
  /* border: 1px solid red; */
  background-image: url("/FlowerAsset/pngwing\ 10.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.head-container {
  margin-left: 240px;
}

.head-title {
  padding-top: 197px;
  margin-bottom: 32px;
  max-width: 708px;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.head-title::selection {
  background-color: rgba(39, 39, 39, 1);
  color: #fff;
}

.head-description {
  max-width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  margin-bottom: 32px;
}

.head-description::selection {
  background-color: rgba(39, 39, 39, 0.6);
  color: #fff;
}

.btn-primary {
  max-height: 64px;
  max-width: 177px;
  display: inline-block;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 20px 43px;
  margin-bottom: 147px;
  border: none;
}
