@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

header {
  background: rgba(229, 84, 115, 0.1);
  max-width: 1920px;
  max-height: 850px;
  flex-shrink: 0;
  /* border: 1px solid red; */
  background-image: url("../FlowerAsset/pngwing\ 10.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.head-container {
  margin-left: 240px;
}

.head-title {
  padding-top: 197px;
  margin-bottom: 32px;
  max-width: 708px;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.head-title::selection {
  background-color: rgba(39, 39, 39, 1);
  color: #fff;
}

.head-description {
  max-width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  margin-bottom: 32px;
}

.head-description::selection {
  background-color: rgba(39, 39, 39, 0.6);
  color: #fff;
}

.btn-primary {
  max-height: 64px;
  max-width: 177px;
  display: inline-block;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 20px 43px;
  margin-bottom: 147px;
  border: none;
}

/* ! hero section */

.hero-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 178px;
  margin-bottom: 24px;
}

.hero-title::selection {
  background-color: rgba(39, 39, 39, 1);
  color: #fff;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-description {
  /* border: 2px solid green; */
  max-width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  margin-bottom: 48px;
}

.hero-description::selection {
  background-color: rgba(39, 39, 39, 0.6);
  color: #fff;
}

.hero-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.hero-pic1 {
  /* border: 2px solid red; */
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  padding: 110px 76px 0px 76px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.hero-pic1::selection {
  background-color: rgba(167, 33, 98, 0.15);
  color: #fff;
}

.hero-pic2 {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 117px 47px 51px;
}

.hero-pic2::selection {
  background-color: rgba(5, 151, 160, 0.15);
  color: #fff;
}

.hero-pic3 {
  padding: 67px 75px 0px;
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.hero-pic3::selection {
  background-color: rgba(71, 125, 17, 0.15);
  color: #fff;
}

.text {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.text h4::selection {
  background-color: rgba(39, 39, 39, 1);
  color: #fff;
}

/* !delivery section */

.deliver {
  margin: 8rem 4rem 8rem;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  min-height: 20rem;
}

.deliver-pic {
  padding-top: 6rem;
  padding-left: 19rem;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 22.25rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.deliver-text {
  display: flex;
  /* justify-content: space-around; */
  margin-top: 1.5rem;
  margin-left: 9rem;
  gap: 6rem;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 145.833%;
  /* padding-bottom: 6rem; */
}

.d1::selection,
.d2::selection,
.d3::selection {
  background-color: rgba(39, 39, 39, 0.8);
  color: #fff;
}

/* !Flower-card */

.flower-card {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  max-height: 38rem;
  background-image: url("/FlowerAsset/pngwing8.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 15rem) 6rem;
}

.flower-card::selection {
  background-color: rgba(229, 84, 115, 0.05);
  color: #fff;
}

.flower-card-text {
  padding-top: 14.375rem;
  padding-left: 15rem;
}

.flower-card h1 {
  color: #272727;
  font-family: Lato;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.5rem;
}

.flower-card h1::selection {
  background-color: rgba(39, 39, 39, 1);
  color: #fff;
}

.highlight {
  color: #e55473;
  font-family: Lato;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.highlight::selection {
  background-color: rgba(229, 84, 115, 1);
  color: #fff;
}

.flower-card p {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
}

.flower-card p::selection {
  background-color: rgba(39, 39, 39, 0.6);
  color: #fff;
}

.flower-card button {
  margin-top: 1.5rem;
  width: 155px;
  height: 64px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  border: none;
  margin-left: 11rem;
  margin-bottom: 8rem;
}

.flower-card button::selection {
  background-color: rgba(229, 84, 115, 1);
  color: rgba(255, 255, 255, 1);
}

/* ! Instagram */

.insta {
  /* border: 2px solid purple; */
  padding: 4rem;
}

.insta-text h1 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.5rem;
}

.insta-text h1::selection {
  background-color: rgba(39, 39, 39, 1);
  color: #fff;
}

.insta-text p {
  color: rgba(39, 39, 39, 0.6);
  margin-left: 25rem;
  margin-bottom: 3rem;
  max-width: 594px;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
}

.insta-text p::selection {
  background-color: rgba(39, 39, 39, 0.6);
  color: #fff;
}

.insta-pic {
  display: flex;
  justify-content: center;

  gap: 1.3rem;
}

/* !Email section */

.search {
  background-image: url("/FlowerAsset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 4rem;
  min-height: 449px;
  border-radius: 8px;
}

.search h1 {
  padding-top: 7.5rem;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.search h1::selection {
  background-color: rgba(39, 39, 39, 1);
  color: #fff;
}

.search p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  margin-bottom: 3rem;
}

.search p::selection {
  background-color: rgba(39, 39, 39, 0.6);
  color: #fff;
}

.search input {
  width: 43rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  color: rgba(39, 39, 39, 0.6);
  /* text-align: center; */
  padding: 1.2rem;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 17em;
}

.search input {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(39, 39, 39, 0.6);
}

.search button {
  height: 4rem;
  width: 9.375rem;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1em;
  margin-bottom: 7.5625em;
}

.search button::selection {
  background-color: rgba(229, 84, 115, 1);
  color: rgba(255, 255, 255, 1);
}

/* !footer */

footer {
  background-color: #111010;
  min-height: 28rem;
}

footer h1 {
  padding-top: 8rem;
  padding-left: 40rem;
  padding-bottom: 1.5rem;
  color: #e55473;
  font-family: Lato;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  /* text-align: center; */
}

.highlight2 {
  color: #fff;
  font-family: Lato;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

footer h1::selection {
  background-color: rgba(229, 84, 115, 1);
  color: rgba(255, 255, 255, 1);
}

.first {
  /* border: 2px solid white; */
  max-width: 39.0625rem;
  min-height: 4rem;
  color: rgba(255, 255, 255, 0.9);
  font-family: Lato;
  font-size: 1.0125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  margin-left: 30rem;
  margin-bottom: 2rem;
  text-align: center;
}
.first::selection {
  color: rgba(255, 255, 255, 0.9);
}

.second {
  color: rgba(255, 255, 255, 0.9);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  text-align: center;
}

.second::selection {
  color: rgba(255, 255, 255, 0.4);
}

.hidden {
  display: none;
}
